<div fxLayout="row" fxFlex>
  <div class="container">
    <form (ngSubmit)="post()" [formGroup]="cadastro" fxLayout="column">
      <mat-form-field appearance="outline">
        <input required matInput placeholder="Nome completo" formControlName="nome" class="nome">
        <mat-error class="text-danger"
          *ngIf="(cadastroFormControl.nome.touched || submitted) && cadastroFormControl.nome.errors?.required">
          Nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input required matInput placeholder="Email" formControlName="email" class="email">
        <mat-error class="text-danger"
          *ngIf="(cadastroFormControl.email.touched || submitted) && cadastroFormControl.email.errors?.required">
          Email é <strong>obrigatório</strong>
        </mat-error>
        <mat-error class="text-danger"
          *ngIf="(cadastroFormControl.email.touched || submitted) && cadastroFormControl.email.errors?.email">
          Insira um email <strong>válido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input required matInput placeholder="Senha" formControlName="senha" class="senha">
        <mat-error class="text-danger"
          *ngIf="(cadastroFormControl.senha.touched || submitted) && cadastroFormControl.senha.errors?.required">
          Insira uma <strong>senha</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input required type="number" matInput placeholder="Celular" formControlName="telefone" class="telefone">
        <mat-error class="text-danger"
          *ngIf="(cadastroFormControl.telefone.touched || submitted) && cadastroFormControl.telefone.errors?.required">
          Insira um <strong>telefone</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input required type="number" matInput placeholder="CPF" formControlName="cpf" class="cpf">
        <mat-error class="text-danger"
          *ngIf="(cadastroFormControl.cpf.touched || submitted) && cadastroFormControl.cpf.errors?.required">
          CPF é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Trabalhando</mat-label>
        <mat-select formControlName="ativo">
          <mat-option value="ativo">Ativo</mat-option>
          <mat-option value="inativo">inativo</mat-option>
        </mat-select>
        <mat-error class="text-danger" *ngIf="(cadastroFormControl.ativo.touched) || submitted && cadastroFormControl.ativo.errors?.required"> selecione se está <strong>Ativo </strong></mat-error>
      </mat-form-field>

      <label id="radio-group-label">Nível de Acesso:</label>
      <mat-radio-group formControlName="nivel" fxLayoutGap.gt-md="15px" class="radio-group"
        aria-label="Select an option">
        <mat-radio-button class="nivel" value="Estagiario">Estagiario</mat-radio-button>
        <mat-radio-button class="nivel" value="Supervizor">Supervisor</mat-radio-button>
        <mat-radio-button class="nivel" value="Funcionario">Funcionario</mat-radio-button>
        <mat-radio-button class="nivel" value="Developer">Developer</mat-radio-button>
        <mat-error class="text-danger"
          *ngIf="(cadastroFormControl.nivel.touched || submitted) && cadastroFormControl.nivel.errors?.required">
          Selecione o <strong>Nível de Acesso</strong> </mat-error>
      </mat-radio-group>

      <button mat-raised-button color="blue">CADASTRAR</button>
      <button mat-raised-button color="blue" [routerLink]="['/listagem']">BANCO DE DADOS</button>
    </form>
  </div>
  </div>
