
.mat-raised-button {
  background-color: rgb(8, 139, 118);
  color: white;
  margin-top: 2rem;
}
div.container {
  background-color: rgb(42, 173, 130);
  text-align: center;
  border-radius: 3rem;
  margin-left: 28rem;
  margin-right: 28rem;
  margin-block-end:3rem;
  box-shadow: 1px 1px 10px #000;
  display: grid;
}
form {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-block-end: 3rem;
  display: grid;
}
label, .mat-radio-button{
 font-weight: bolder;
 opacity: 0.8;
}